<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Nathan</string>
		<key>game</key>
		<string>As découvert</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lucas</string>
		<key>game</key>
		<string>Bacarra</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Léo</string>
		<key>game</key>
		<string>Costly colors</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Enzo</string>
		<key>game</key>
		<string>Durak</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Louis</string>
		<key>game</key>
		<string>La famille croquignol</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Gabriel</string>
		<key>game</key>
		<string>Le gin rami</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jules</string>
		<key>game</key>
		<string>Le huit</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Timéo</string>
		<key>game</key>
		<string>Le jass</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hugo</string>
		<key>game</key>
		<string>Loo à trois cartes</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Arthur</string>
		<key>game</key>
		<string>La manille muette</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Ethan</string>
		<key>game</key>
		<string>Le napoléon</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Raphaël</string>
		<key>game</key>
		<string>Omaha poker</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Maël</string>
		<key>game</key>
		<string>Pyramide</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>game</key>
		<string>Le rikiki</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Noah</string>
		<key>game</key>
		<string>Le stop rami</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mathis</string>
		<key>game</key>
		<string>Le tarot</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Théo</string>
		<key>game</key>
		<string>Whist</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Adam</string>
		<key>game</key>
		<string>L&apos;araignée</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Nolan</string>
		<key>game</key>
		<string>La belote</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Clément</string>
		<key>game</key>
		<string>La crapette</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
    <dict>
		<key>name</key>
		<string>Nathan</string>
		<key>game</key>
		<string>As découvert</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lucas</string>
		<key>game</key>
		<string>Bacarra</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Léo</string>
		<key>game</key>
		<string>Costly colors</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Enzo</string>
		<key>game</key>
		<string>Durak</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Louis</string>
		<key>game</key>
		<string>La famille croquignol</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Gabriel</string>
		<key>game</key>
		<string>Le gin rami</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jules</string>
		<key>game</key>
		<string>Le huit</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Timéo</string>
		<key>game</key>
		<string>Le jass</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hugo</string>
		<key>game</key>
		<string>Loo à trois cartes</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Arthur</string>
		<key>game</key>
		<string>La manille muette</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Ethan</string>
		<key>game</key>
		<string>Le napoléon</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Raphaël</string>
		<key>game</key>
		<string>Omaha poker</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Maël</string>
		<key>game</key>
		<string>Pyramide</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>game</key>
		<string>Le rikiki</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Noah</string>
		<key>game</key>
		<string>Le stop rami</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mathis</string>
		<key>game</key>
		<string>Le tarot</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Théo</string>
		<key>game</key>
		<string>Whist</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Adam</string>
		<key>game</key>
		<string>L&apos;araignée</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Nolan</string>
		<key>game</key>
		<string>La belote</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Clément</string>
		<key>game</key>
		<string>La crapette</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
    <dict>
		<key>name</key>
		<string>Nathan</string>
		<key>game</key>
		<string>As découvert</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lucas</string>
		<key>game</key>
		<string>Bacarra</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Léo</string>
		<key>game</key>
		<string>Costly colors</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Enzo</string>
		<key>game</key>
		<string>Durak</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Louis</string>
		<key>game</key>
		<string>La famille croquignol</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Gabriel</string>
		<key>game</key>
		<string>Le gin rami</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jules</string>
		<key>game</key>
		<string>Le huit</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Timéo</string>
		<key>game</key>
		<string>Le jass</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hugo</string>
		<key>game</key>
		<string>Loo à trois cartes</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Arthur</string>
		<key>game</key>
		<string>La manille muette</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Ethan</string>
		<key>game</key>
		<string>Le napoléon</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Raphaël</string>
		<key>game</key>
		<string>Omaha poker</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Maël</string>
		<key>game</key>
		<string>Pyramide</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>game</key>
		<string>Le rikiki</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Noah</string>
		<key>game</key>
		<string>Le stop rami</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mathis</string>
		<key>game</key>
		<string>Le tarot</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Théo</string>
		<key>game</key>
		<string>Whist</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Adam</string>
		<key>game</key>
		<string>L&apos;araignée</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Nolan</string>
		<key>game</key>
		<string>La belote</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Clément</string>
		<key>game</key>
		<string>La crapette</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
    <dict>
		<key>name</key>
		<string>Nathan</string>
		<key>game</key>
		<string>As découvert</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lucas</string>
		<key>game</key>
		<string>Bacarra</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Léo</string>
		<key>game</key>
		<string>Costly colors</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Enzo</string>
		<key>game</key>
		<string>Durak</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Louis</string>
		<key>game</key>
		<string>La famille croquignol</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Gabriel</string>
		<key>game</key>
		<string>Le gin rami</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jules</string>
		<key>game</key>
		<string>Le huit</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Timéo</string>
		<key>game</key>
		<string>Le jass</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hugo</string>
		<key>game</key>
		<string>Loo à trois cartes</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Arthur</string>
		<key>game</key>
		<string>La manille muette</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Ethan</string>
		<key>game</key>
		<string>Le napoléon</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Raphaël</string>
		<key>game</key>
		<string>Omaha poker</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Maël</string>
		<key>game</key>
		<string>Pyramide</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>game</key>
		<string>Le rikiki</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Noah</string>
		<key>game</key>
		<string>Le stop rami</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mathis</string>
		<key>game</key>
		<string>Le tarot</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Théo</string>
		<key>game</key>
		<string>Whist</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Adam</string>
		<key>game</key>
		<string>L&apos;araignée</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Nolan</string>
		<key>game</key>
		<string>La belote</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Clément</string>
		<key>game</key>
		<string>La crapette</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
    <dict>
		<key>name</key>
		<string>Nathan</string>
		<key>game</key>
		<string>As découvert</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lucas</string>
		<key>game</key>
		<string>Bacarra</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Léo</string>
		<key>game</key>
		<string>Costly colors</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Enzo</string>
		<key>game</key>
		<string>Durak</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Louis</string>
		<key>game</key>
		<string>La famille croquignol</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Gabriel</string>
		<key>game</key>
		<string>Le gin rami</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jules</string>
		<key>game</key>
		<string>Le huit</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Timéo</string>
		<key>game</key>
		<string>Le jass</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hugo</string>
		<key>game</key>
		<string>Loo à trois cartes</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Arthur</string>
		<key>game</key>
		<string>La manille muette</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Ethan</string>
		<key>game</key>
		<string>Le napoléon</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Raphaël</string>
		<key>game</key>
		<string>Omaha poker</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Maël</string>
		<key>game</key>
		<string>Pyramide</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>game</key>
		<string>Le rikiki</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Noah</string>
		<key>game</key>
		<string>Le stop rami</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mathis</string>
		<key>game</key>
		<string>Le tarot</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Théo</string>
		<key>game</key>
		<string>Whist</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Adam</string>
		<key>game</key>
		<string>L&apos;araignée</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Nolan</string>
		<key>game</key>
		<string>La belote</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Clément</string>
		<key>game</key>
		<string>La crapette</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
    <dict>
		<key>name</key>
		<string>Nathan</string>
		<key>game</key>
		<string>As découvert</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lucas</string>
		<key>game</key>
		<string>Bacarra</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Léo</string>
		<key>game</key>
		<string>Costly colors</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Enzo</string>
		<key>game</key>
		<string>Durak</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Louis</string>
		<key>game</key>
		<string>La famille croquignol</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Gabriel</string>
		<key>game</key>
		<string>Le gin rami</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jules</string>
		<key>game</key>
		<string>Le huit</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Timéo</string>
		<key>game</key>
		<string>Le jass</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hugo</string>
		<key>game</key>
		<string>Loo à trois cartes</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Arthur</string>
		<key>game</key>
		<string>La manille muette</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Ethan</string>
		<key>game</key>
		<string>Le napoléon</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Raphaël</string>
		<key>game</key>
		<string>Omaha poker</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Maël</string>
		<key>game</key>
		<string>Pyramide</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>game</key>
		<string>Le rikiki</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Noah</string>
		<key>game</key>
		<string>Le stop rami</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mathis</string>
		<key>game</key>
		<string>Le tarot</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Théo</string>
		<key>game</key>
		<string>Whist</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Adam</string>
		<key>game</key>
		<string>L&apos;araignée</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Nolan</string>
		<key>game</key>
		<string>La belote</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Clément</string>
		<key>game</key>
		<string>La crapette</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
    <dict>
		<key>name</key>
		<string>Nathan</string>
		<key>game</key>
		<string>As découvert</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lucas</string>
		<key>game</key>
		<string>Bacarra</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Léo</string>
		<key>game</key>
		<string>Costly colors</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Enzo</string>
		<key>game</key>
		<string>Durak</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Louis</string>
		<key>game</key>
		<string>La famille croquignol</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Gabriel</string>
		<key>game</key>
		<string>Le gin rami</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jules</string>
		<key>game</key>
		<string>Le huit</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Timéo</string>
		<key>game</key>
		<string>Le jass</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hugo</string>
		<key>game</key>
		<string>Loo à trois cartes</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Arthur</string>
		<key>game</key>
		<string>La manille muette</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Ethan</string>
		<key>game</key>
		<string>Le napoléon</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Raphaël</string>
		<key>game</key>
		<string>Omaha poker</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Maël</string>
		<key>game</key>
		<string>Pyramide</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>game</key>
		<string>Le rikiki</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Noah</string>
		<key>game</key>
		<string>Le stop rami</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mathis</string>
		<key>game</key>
		<string>Le tarot</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Théo</string>
		<key>game</key>
		<string>Whist</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Adam</string>
		<key>game</key>
		<string>L&apos;araignée</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Nolan</string>
		<key>game</key>
		<string>La belote</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Clément</string>
		<key>game</key>
		<string>La crapette</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
    <dict>
		<key>name</key>
		<string>Nathan</string>
		<key>game</key>
		<string>As découvert</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lucas</string>
		<key>game</key>
		<string>Bacarra</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Léo</string>
		<key>game</key>
		<string>Costly colors</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Enzo</string>
		<key>game</key>
		<string>Durak</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Louis</string>
		<key>game</key>
		<string>La famille croquignol</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Gabriel</string>
		<key>game</key>
		<string>Le gin rami</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jules</string>
		<key>game</key>
		<string>Le huit</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Timéo</string>
		<key>game</key>
		<string>Le jass</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hugo</string>
		<key>game</key>
		<string>Loo à trois cartes</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Arthur</string>
		<key>game</key>
		<string>La manille muette</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Ethan</string>
		<key>game</key>
		<string>Le napoléon</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Raphaël</string>
		<key>game</key>
		<string>Omaha poker</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Maël</string>
		<key>game</key>
		<string>Pyramide</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>game</key>
		<string>Le rikiki</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Noah</string>
		<key>game</key>
		<string>Le stop rami</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mathis</string>
		<key>game</key>
		<string>Le tarot</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Théo</string>
		<key>game</key>
		<string>Whist</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Adam</string>
		<key>game</key>
		<string>L&apos;araignée</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Nolan</string>
		<key>game</key>
		<string>La belote</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Clément</string>
		<key>game</key>
		<string>La crapette</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
    <dict>
		<key>name</key>
		<string>Nathan</string>
		<key>game</key>
		<string>As découvert</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lucas</string>
		<key>game</key>
		<string>Bacarra</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Léo</string>
		<key>game</key>
		<string>Costly colors</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Enzo</string>
		<key>game</key>
		<string>Durak</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Louis</string>
		<key>game</key>
		<string>La famille croquignol</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Gabriel</string>
		<key>game</key>
		<string>Le gin rami</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jules</string>
		<key>game</key>
		<string>Le huit</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Timéo</string>
		<key>game</key>
		<string>Le jass</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hugo</string>
		<key>game</key>
		<string>Loo à trois cartes</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Arthur</string>
		<key>game</key>
		<string>La manille muette</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Ethan</string>
		<key>game</key>
		<string>Le napoléon</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Raphaël</string>
		<key>game</key>
		<string>Omaha poker</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Maël</string>
		<key>game</key>
		<string>Pyramide</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>game</key>
		<string>Le rikiki</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Noah</string>
		<key>game</key>
		<string>Le stop rami</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mathis</string>
		<key>game</key>
		<string>Le tarot</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Théo</string>
		<key>game</key>
		<string>Whist</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Adam</string>
		<key>game</key>
		<string>L&apos;araignée</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Nolan</string>
		<key>game</key>
		<string>La belote</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Clément</string>
		<key>game</key>
		<string>La crapette</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
    <dict>
		<key>name</key>
		<string>Nathan</string>
		<key>game</key>
		<string>As découvert</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lucas</string>
		<key>game</key>
		<string>Bacarra</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Léo</string>
		<key>game</key>
		<string>Costly colors</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Enzo</string>
		<key>game</key>
		<string>Durak</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Louis</string>
		<key>game</key>
		<string>La famille croquignol</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Gabriel</string>
		<key>game</key>
		<string>Le gin rami</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jules</string>
		<key>game</key>
		<string>Le huit</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Timéo</string>
		<key>game</key>
		<string>Le jass</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hugo</string>
		<key>game</key>
		<string>Loo à trois cartes</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Arthur</string>
		<key>game</key>
		<string>La manille muette</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Ethan</string>
		<key>game</key>
		<string>Le napoléon</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Raphaël</string>
		<key>game</key>
		<string>Omaha poker</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Maël</string>
		<key>game</key>
		<string>Pyramide</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tom</string>
		<key>game</key>
		<string>Le rikiki</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Noah</string>
		<key>game</key>
		<string>Le stop rami</string>
		<key>rating</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mathis</string>
		<key>game</key>
		<string>Le tarot</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Théo</string>
		<key>game</key>
		<string>Whist</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Adam</string>
		<key>game</key>
		<string>L&apos;araignée</string>
		<key>rating</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Nolan</string>
		<key>game</key>
		<string>La belote</string>
		<key>rating</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Clément</string>
		<key>game</key>
		<string>La crapette</string>
		<key>rating</key>
		<integer>4</integer>
	</dict>
</array>
</plist>
